# VCS & metadata
.git
.gitignore
.gitattributes

# Python cache/artefacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.mypy_cache/
.pytype/
.pytest_cache/
.nox/
.coverage
htmlcov/

# Environnements virtuels
.venv/
venv/

# Configs locales (ne pas embarquer dans les images)
.env
.env.*
!.env.example

# Données & logs (toujours montés en volume à l'exécution)
data/raw/
data/interim/
data/processed/
data/final/
logs/
models/

# IDE/OS
.DS_Store
.idea/
.vscode/